<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <h2>Movie Details</h2>
    <p><strong>ID:</strong> {{movie.Movie_ID}}</p>
    <p><strong>Title:</strong> {{movie.Title}}</p>
    <p><strong>Genre:</strong> {{movie.Genre}}</p>
    <p><strong>Director:</strong> {{movie.Director}}</p>
    <p><strong>Language:</strong> {{movie.Language}}</p>

    
</body>
</html>